body, html {
    height: 100%;
    margin: 0;
}

#game-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: lightgrey;
}

.falling-object {
    position: absolute;
    bottom: 0;
    font-size: 40px; /* Adjust font size for better visibility */
}

.bomb {
    color: purple; /* Make the bomb emoji glow purple */
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px purple, 0 0 20px purple, 0 0 30px purple, 0 0 40px purple;
    }
    to {
        text-shadow: 0 0 20px purple, 0 0 30px purple, 0 0 40px purple, 0 0 50px purple, 0 0 60px purple;
    }
}

.selected {
    transform: scale(1.2);
    opacity: 0.5;
}
